@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.TextnPICr_Container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
}


.TextnPICr_IMG {
    width: 35%;
    height: auto;
    float:left;
}

.Inner {
    display: table;
    align-items: center;
    float: right;
    margin-left: 25px;
    width: 50%;
}

.TextnPICr_TITLE {
    color: #282c34;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    float: top;
}

.TextnPICr_DESC {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: black;
}

.btn_TextnPic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}